ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #5f6368;
}

div {
    display: block;
}

#logo {
    margin-top: 150px;
}

#logo img {
    display: block;
    height: 180px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#search-bar {
    display: block;
    margin-top: 15px;
}

#search-bar input {
    height: 40px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    box-shadow: none;
    border: 1px solid #dfe1e5;
}

center {
    margin-top: 20px;
    display: block;
    text-align: -webkit-center;
}

button {
    color: #5f6368;
    background-color: #f2f2f2;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    height: 40px;
    width: auto;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}


